/* Basic styling and layout */
body {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #E9EED9;
}
p {
    color: #54473F; /* Updated to ensure visibility on dark background */
}
/* Title styling */
h1 {
    position: absolute; /* Position title at the top center */
    top: 20px; /* Adjust top position */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    font-size: 2.5em;
    color: #54473F; /* Updated to ensure visibility on dark background */
}
.contact{
    background-color: #9A7E6F;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 8px;
    margin-top: 200px;
    text-align: center;
}

/* Button styling */
.button {
    text-align: center;

    margin: 0 10px; 
}

.button-link {
    display: inline-block;
    padding: 30px 60px; /* Increased padding for larger buttons */
    font-size: 1.75em; /* Increased font size for buttons */
    color: #54473F;
    background-color: #CBD2A4;
    text-decoration: none;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover effect for buttons */
.button-link:hover {
    background-color: #9A7E6F;
    transform: scale(1.1); /* Increases button size on hover */
}
/* Button container styling */
.button-container {
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the buttons horizontally */
    margin-top: 15px; /* Optional: Add space above the button container */
}
