body {
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #6c78a9;

}

body p {
    color: #54473F;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none; 
}


.anmBtn {
    background-color: #6A9AB0;
    color: #54473F;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.lists{
    background-color: #6A9AB0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.infobox{
    background-color: #6A9AB0;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}
.infobox p{
    color: #54473F;
}
.infobox h1{
    color: #54473F;
}
